.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 3vw;

    max-height: 70vh;
    overflow-y: scroll;
}
.choicesWrapper {
    padding-top: 5vh;
}
/* .cardContainer::-webkit-scrollbar {
    width: 30px;
} */
/* .cardContainer::-webkit-scrollbar-track:decrement {
    background-color: #f1f1f1;
}
.cardContainer::-webkit-scrollbar-thumb {
    background-color: #888; 
}
.cardContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
} */

.oneCardContainerTest {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 90vh;
}

.oneCardContainer {
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.oneCardContainerChoice {
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 85vh;
    margin-top: 2vh;
}

.card {
    width: 250px;
    height: 160px;
    margin: 1vw;
    background-color: antiquewhite !important;
    position: relative;
}

.oneCard, .oneCardTest {
    width: 50vw;
    height: 60vh;
    margin-bottom: 2vh;
    background-color: antiquewhite !important;
    position: relative; 
}
.oneCardTest {
    margin-top: 2vh;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.oneCardChoices {
    height: 10vh;
}

.backIcon {
    width: 200px !important;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.vocab, .oneVocab {
    position: absolute;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vocab1{
    font-size: 20px;
}

.oneVocab {
    font-size: 85px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    color: brown;
    opacity: 60%;
}

.close:hover{
    opacity: 1;
}

.index {
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.nextCard, .removeCard, .learnCard, .choice, .learned {
    cursor: pointer;
}

.choice {
    height: 8vh;
}

.learned {
    top: 74%;
}

.lectureName {
    display: flex;
    justify-content: flex-start;
}