.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.oneCardContainer {
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.cardWrapper {
    padding: 1vw;
}

.card, .oneCard {
    width: 250px;
    height: 160px;
    background-color: antiquewhite !important;
    position: relative;
}
.oneCard {
    width: 900px;
    height: 600px;
}

.vocab, .oneVocab {
    position: absolute;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vocab1{
    font-size: 20px;
}
.oneVocab {
    font-size: 85px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    color: brown;
    opacity: 60%;
}

.close:hover{
    opacity: 1;
}

.index {
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.nextCard, .removeCard, .learnCard, .choice {
    cursor: pointer;
}
.choice{
    height: 8vh;
}

.learned{
    cursor: pointer;
    /* position: absolute; */
    top: 70%;
    right: 0%;
    color: lime;
}

.lectureName {
    display: flex;
    justify-content: flex-start;
}