.Header {
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background: #73c2e3;
}
@media screen and (max-width: 1100px){
    .Header{
        width: 1100px;
    }
}

body {
    text-align: center;
    font-family: 'cwTeXFangSong', serif;
    font-size: 30px;
    white-space: nowrap;
}

