.Header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 6.5vh !important;
    width: 60vw;
    background: #6997eb;
    /* background-image: linear-gradient(to right, #A7BFE8, #6997eb); */
    /* background-image: linear-gradient(to right, #6997eb, #90b0e8); */
    /* opacity: 70%; */
}

@media screen and (max-width: 1100px){
    .Header{
        width: 1100px;
    }
}

.text {
    font-size: 30px !important;
    font-weight: 1000 !important;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
.text, body {
    text-align: center;
    font-family: 'cwTeXFangSong', serif !important;
    font-size: 30px;
    white-space: nowrap;
}
