.SliderWrapper {
    position: absolute;
    left: 40%;
    padding-top: 10%;
    width: 55vw;
}
.container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
body {
    --stripe: #cfdcd0;
    --bg: #e1e1e1;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
    /* src: https://css-tricks.com/a-few-background-patterns-sites/ */
}