.SliderWrapper {
    width: 55vw;
    padding-left: 1.8%;
    padding-top: 0.5%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 18%;
    margin-top: 6%;
}


body {
    --stripe: #cfdcd0;
    --bg: #e1e1e1;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
    /* src: https://css-tricks.com/a-few-background-patterns-sites/ */
}

.chinese {
    height: 65vh;
    background: red !important;
}

.japanese {
    height: 65vh;
    background: red !important;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
.Text{
    font-family: 'cwTeXFangSong', serif !important;
    font-size: 8vmin;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 1vmin;
    padding-left: 1vmin;
}

.fortune {
    background-image: linear-gradient(to bottom, rgb(165, 56, 165), rgb(223, 161, 223)) ;
    border-radius: 10px;
    width: 200px !important;
    height: 200px !important;
    position: absolute;
    left: 0%;
    bottom: 10%;
    text-shadow: 0.1em 0.1em 0.2em rgb(225, 220, 220);
}