.SliderWrapper {
    padding: 3vmin;
    width: 50vw;
    /* position: relative; */
    position: absolute;
    transform: translate(80%, 0%);

}
.LoginBarWrapper {
    width: 30vw;
}
.container {
    display: flex;
    flex-wrap: nowrap;
}