.allWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 4%;
}

.learnsetsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-height: 70vh;
    overflow-y: scroll;
}

.learnSetWrapper {
    padding: 1vw;
}

.learnSet {
    position: relative;
    width: 250px;
    height: 160px;
    border-radius: 10px;
    background-color: rgb(251, 241, 228) !important;
    display: flex;
    justify-content: center;
}

.folderIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 225, 38);
    font-size: 100px !important;
}

.deleteIcon {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    opacity: 60%;
}

.deleteIcon:hover{
    opacity: 1;
}

.name {
    position: absolute;
    font-size: 2.5vmin;
    bottom: 8%;
}

.createIcon {
    width: 180px !important;
    height: 100px;
}

.Icon {
    width: 150px !important;
}