.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.oneCardContainer {
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.card, .oneCard {
    width: 30vh;
    height: 20vh;
    background-color: antiquewhite;
    position: relative;
}
.oneCard {
    width: 75vh;
    height: 50vh;
}

.vocab, .oneVocab {
    position: absolute;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    top: 35%;
    left: 5%; 
}
.oneVocab {
    font-size: 75px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    color: brown;
}


.index {
    position: absolute;
    bottom: 2%;
    right: 5%;
}