.allWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.learnsetsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.learnSetWrapper {
    padding: 1vw;
}

.learnSet {
    position: relative;
    width: 250px;
    height: 160px;
    border-radius: 10px;
    background: rgb(248, 245, 242) !important;
    display: flex;
    justify-content: center;
}

.folderIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 225, 38);
    font-size: 100px !important;
}

.delete {
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;
}

.name {
    position: absolute;
    font-size: 2.5vmin;
    bottom: 8%;
}

.createIcon {
    width: 180px !important;
    height: 100px;
}
.Icon {
    width: 150px !important;
}