.learnsetsContainer {
    display: flex;
    flex-direction: row;
}

.learnSetWrapper {
    padding: 1vw;
}

.learnSet {
    position: relative;
    width: 30vh;
    height: 20vh;
    border-radius: 10px;
    background: rgb(248, 245, 242) !important;
}

.folderIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 225, 38);
    font-size: 100px !important;
}

.delete {
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;
}

.name {
    position: absolute;
    bottom: 5%;
    right: 50%;
}