.List {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap !important;
}
.username, .password {
    width: 200px !important;
}

.login, .register, .logout {
    width: 150px !important;
}

.welcome {
    width: 210px !important;
}