.List {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap !important;
}


.register {
    width: 300px !important;
}

.logout {
    width: 250px !important;
}

.welcome {
    width: 250px !important;
}