.modal {
    width: 38%;
    height: 38%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6dfdf;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -48%);
    display: flex;
    flex-wrap: wrap;
}

.model-container {
    position: relative;
}

.button-container {
    width: 180px;
    padding: 10px;
    margin-left: 3px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly !important;
    flex-wrap: nowrap !important;
}