.navIcon {
    border: solid;
    padding: 3vh;
    border-color: antiquewhite !important;
    background-color: #cfdcd0;
    cursor: pointer;
}

.navBox  {
    width: 400px !important;
    /* padding: 1vh; */
}

.text {
    font-size: 30px;
}

.wrapper {
    padding: 2vh;
}


