/* .App {
    font-family: sans-serif;
    text-align: center;
}
.mainSlider {
    background: #eca;
}
h3 {
    text-align: center;
} */
img {
    margin: auto;
    /* height: 10%; */
    width: 50vw;
    height: 60vh;
    border-radius: 15px;
}
.reactSlick {
    padding: 2vmin;
    background: #bccdbe;;
    border-radius: 15px;
}
.slick-slide > div {
    display: grid;
    place-items: center;
    width: 50vw;
    height: 60vh;
    /* margin-top: 50px; */
    margin: auto;
}

/* ref: https://stackoverflow.com/questions/60440138/centering-slides-with-react-slick */
  