img {
    margin: auto;
    width: 50vw;
    height: 60vh;
    border-radius: 15px;
}
.reactSlick {
    padding: 2vmin;
    background: #bccdbe;;
    border-radius: 15px;
    width: 52vw;
}
.slick-slide > div {
    display: grid;
    place-items: center;
    width: 50vw;
    height: 60vh;
    margin: auto;
}

/* ref: https://stackoverflow.com/questions/60440138/centering-slides-with-react-slick */
  