.testContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 2%;
}
.scores {
    position: relative;
    padding-left: 3vw;
    padding-top: 5vh;
}

.record {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    padding: 2vw;

    max-height: 50vh;
    overflow-y: scroll;
}

.score {
    width: 350px !important;
    border: solid;
    border-color: antiquewhite !important;
    background-color: #cfdcd0;
}

.box {
    width: 75vw;
    display: flex;
    justify-content: center !important;
}
