.testContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 2%;
}
.scores {
    position: relative;
    padding-left: 3vw;
    padding-top: 5vh;
}

.record {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    padding: 2vw;
}

.score {
    width: 350px !important;
    border: solid;
    border-color: antiquewhite !important;
    background-color: #cfdcd0;
}

.box {
    width: 75vw;
    display: flex;
    /* flex-wrap: wrap !important; */
    justify-content: center !important;
}

.submit {
    background-color: #9dda9a !important;
    color: rgba(0, 0, 0, 0.648) !important;
    border: solid rgb(188, 190, 184) !important;
}
